<fieldset>
  <legend>Email on success</legend>

  <% stage = form.object %>

  <div class="col-lg-offset-2">
    <div class="col-lg-2 checkbox">
      <%= form.label :send_success_email do %>
        <%= form.check_box :send_success_email %>
        Send email to all committers on success
      <% end %>
    </div>
  </div>
</fieldset>
